@import "tailwindcss";

@layer utilities {
  @font-face {
    font-family: "Sora";
    src: url("https://fonts.googleapis.com/css2?family=Sora&display=swap");
  }
  @font-face {
    font-family: "Bandeins Strange Variable";
    src: url("https://res.cloudinary.com/dldmpwpcp/raw/upload/v1566406079/BandeinsStrangeVariable_esetvq.ttf");
  }

  * {
    box-sizing: border-box;
  }
  .acontainer {
    container-type: inline-size;
    container-name: acontainer;
  }
  .bcontainer {
    container-type: inline-size;
    container-name: bcontainer;
  }
  .ccontainer {
    container-type: inline-size;
    container-name: ccontainer;
  }
}
.cardp {
  container-type: inline-size;
  container-name: cardp;
}
.cardb {
  container-type: inline-size;
  container-name: cardb;
}
.cardi {
  container-type: inline-size;
  container-name: cardi;
}

@container cardp (min-width: 600px) {
  .cardp p {
    background: rgb(130, 128, 0);
    color: white;
  }
}
@container cardb (min-width: 600px) {
  .cardb p {
    background: rgb(5, 99, 122);
    color: white;
  }
}
@container cardi (min-width: 600px) {
  .cardi p {
    background: rgb(9, 160, 29);
    color: white;
  }
}
:root {
  --step--10: clamp(0.8rem, 0.7rem + 0.3vw, 1rem);
  --step-11: clamp(1rem, 0.9rem + 0.5vw, 1.25rem);
  --step-12: clamp(1.25rem, 1.1rem + 0.9vw, 1.75rem);
  --step-13: clamp(1.75rem, 1.5rem + 1vw, 2.25rem);
  --step-14: clamp(2rem, 1.8rem + 1.5vw, 3rem);
  --step-0: clamp(14px, 1.2vw + 10px, 16px);
  --step-3: clamp(24px, 2.5vw + 14px, 36px);
  --space: clamp(12px, 1.5vw, 24px);
}
h1 {
  font-size: var(--step-3);
}
section {
  padding: var(--space);
}

/* h1 {
  font-size: var(--step-3);
  font-weight: bolder;
} */
h3 {
  font-size: var(--step-12);
  font-weight: bolder;
}
h2 {
  font-size: var(--step-13);
  font-weight: bolder;
}

p {
  font-size: var(--step-11);
}
.tiny {
  font-size: var(--step--10);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* background: url("https://picsum.photos/800/400")  center center / cover;
  background-attachment: scroll; */
}
.cbox {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  background: url("https://picsum.photos/800/400") center center / cover;
}

.left-shape,
.right-shape {
  top: 0;
  width: 50%;
  height: 100%;
}

.left-shape {
  background: url("https://picsum.photos/300/300") center center / contain;
  clip-path: polygon(100% 0, 61% 50%, 100% 100%, 0 100%, 0 0);
  z-index: 2;
  left: 0;
}

.right-shape {
  background: url("https://picsum.photos/800/400") center center / cover;
  clip-path: polygon(39% 0, 100% 0, 100% 100%, 39% 100%, 0 50%);
  z-index: 1;
  right: 196px;
}

.content {
  padding: 20px;
  color: white;
  font-weight: bold;
}
.locat {
  width: 70px;
  height: 70px;
  background: red;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-grid {
  container-type: inline-size;
}
@container (min-width: 42rem) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.card-grid {
  display: grid;
  gap: var(--space);
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
}
.img-group div {
  position: relative;
  width: 20%;
  aspect-ratio: 1/1;
  max-width: 140px;
  background-repeat: no-repeat;
  background-size: contain;
}

.img-group div:nth-child(1) {
  background-image: url("https://assets.codepen.io/16327/scroll-flair-1.png");
}
.img-group div:nth-child(2) {
  background-image: url("https://assets.codepen.io/16327/scroll-flair-2.png");
}
.img-group div:nth-child(3) {
  background-image: url("https://assets.codepen.io/16327/scroll-flair-3.png");
}
.img-group div:nth-child(4) {
  background-image: url("https://assets.codepen.io/16327/scroll-flair-4.png");
}
.img-group div:nth-child(5) {
  background-image: url("https://assets.codepen.io/16327/flair.png");
}

.img-group div::before {
  content: attr(data-speed);
  position: absolute;
  color: #fffce1;
  top: -2rem;
  width: 100%;
  text-align: center;
  font-size: 14px;
  opacity: 0.7;
}
